<footer class="container">
    <p>&copy; Company <script>document.write(new Date().getFullYear())</script></p>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
