
<div class="row">
    {{#each posts }}
        <div class="col-md-4">
            <h2>{{ title }}</h2>
            <p>{{ details }}</p>
            <p><a class="" href="/blog/{{ _id }}" role="button">View more...</a></p>
        </div>
    {{/each }}
</div>
