
<div class="row">
    {{#each blogs }}
        <div class="col-md-4">
            <h2>{{ title }}</h2>
            <p>{{ body }}</p>
            <p><a class="" href="/blog/{{ id }}" role="button">View more...</a></p>
        </div>
    {{/each }}
</div>
