
<div class="row">
    {{#each items }}
        <div class="col-md-3">
            <h2>{{ title }}</h2>
            <p>{{ body }}</p>
            <p><a class="btn btn-secondary" href="/blog/{{ id }}" role="button">View details &raquo;</a></p>
        </div>
    {{/each }}
</div>