
<div class="row">
    {{#each posts }}
        <div class="col-md-3">
            <h2>{{ title }}</h2>
            <p>{{ description }}</p>
            <!--<p><a class="" href="/blog/{{ key }}" role="button">View more...</a></p>-->
        </div>
    {{/each }}
</div>